a {
  color: #000;
  text-decoration: none;
}

.ck-editor__editable {
  min-height: 12rem;
  font-size: 0.875rem;
}

.tablist-create-groups .MuiTabs-flexContainer {
  justify-content: center;
}

.class-link-hover:hover {
  color: #0d6efd; /* Màu văn bản khi hover */
}

.reload-button-rotate {
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textfield-borderRadius > .MuiInputBase-root {
  border-radius: 30px;
}

.custom-autocomplete .MuiAutocomplete-option {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-autocomplete .MuiAutocomplete-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
