@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@400;500;700&family=Roboto:wght@700;900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
    font-size: 70%;
} */

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

.main {
  display: flex;
  position: sticky;
}

.sidebar-root {
  position: relative;
  border-right: 1px solid rgb(239, 239, 239);
  border-top-color: rgb(239, 239, 239);
  border-bottom-color: rgb(239, 239, 239);
  border-left-color: rgb(239, 239, 239);
  transition: width 0s ease 0s, left 0s ease 0s, right 0s ease 0s,
    all 300ms ease 0s;
  width: 250px;
  min-height: 100vh;
}

.sidebar-container {
  position: relative;
  height: 100%;
  overflow: hidden auto;
  z-index: 3;
  background-color: rgba(249, 249, 249, 0.7);
  font-size: 90%;
}

.logo {
  text-align: center;
  width: 100%;
}

.logo-img {
  width: 100% !important;
  height: auto;
}

.info {
  display: inline-block;
  width: 100%;
  position: relative;
}

.info-link {
  flex-direction: column;
  background-color: rgb(226, 224, 219);
  justify-content: center;
}

.info-icon > svg,
.menu-item-icon > svg {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.info-name {
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bars {
  width: 35px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-size: 80%;
}

.bars > svg:hover {
  cursor: pointer;
}

.menu-item-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.menu-item {
  display: inline-block;
  width: 100%;
  position: relative;
}

.menu-item-link,
.info-link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
}

.menu-item-link:hover {
  background-color: rgb(243, 243, 243);
}

.active {
  background-color: rgb(243, 243, 243);
}

.menu-item-icon {
  width: 35px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 2px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 10px;
}

.menu-item-text {
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  flex: 1;
}

.menu-subItem-icon,
.menu-subItem-text {
  font-size: 14px;
}
